*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}

.starcard{
    background-color: black;
    margin: 30px 0;
    color: white;
}

.column-card{
    max-width: 48%;
    height: 600px;
}

.t-item{
    display: inline-block;
    vertical-align: middle;
}

.starimage{
    width: 50%;
}

.starimage-2 img{
    max-width: 100%;
}

.starimage img{
    width: 100%;
    height: auto;
}

.startext{
    text-align: center;
    width: 49%;
    padding: 30px;
}

.columntext{
    width: 100%;
    text-align: center;
    padding: 30px 25%;
}

.startext h2 strong{
    font-weight: 700;
    font-size: 32px;
}

.startext p{
    font-size: 23px;
}

.greenbox{
    background-color: #1E3932;
}

.redbox{
    background-color: #D50032;
}

.bluebox{
    background-color: #0044B4;
}

.pinkcard{
    background-color: #F6BFD9;
    margin-right: 18px;
    color: #d50032;
}

.lightbluecard{
    background-color: #98CDE4;
    margin-left: 18px;
    color: #003b49;
}

.startext button{
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

.pinkcard button{
    color: #D50032;
    border: #D50032 solid 1px;
}

.lightbluecard button{
    color: #003b49;
    border: #003b49 solid 1px;
}

.startext button:hover{
    background-color: rgba(255, 255, 255, 0.153);
}