*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Inter", sans-serif;
}

/*Diseño de Barra de Navegación */

.header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.101);
    padding: 0 30px;
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item a{
    color: black;
    font-weight: 700;
}

.nav ul {
    height: 100%;
}

.nav-item-left {
    padding: 30px 0;
}

.navbar .nav img {
    height: 50px;
    width: 50px;
}

.navbar .nav-item-left a:hover {
    padding-bottom: 25px;
    border-bottom: solid 5px #00754a;
    color: #00754a;
}

.navbar .nav-button {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px;
}

.navbar .green-border{
    border: solid 1px #00754a;
}

.navbar .green-navitem a{
    color: #00754a;
}

.navbar .black-navitem {
    background-color: black;
}

.navbar .black-navitem a {
    color: white;
}

/*Diseño de tarjetas */

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narrow-screen {
    display: none;
}

.starcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: white;
    max-width: 1400px;
}

main .pair {
    flex-direction: row-reverse;
}

.starimage{
    min-width: 350px;
    max-width: 50%;
}

.starimage img{
    width: 100%;
    height: auto;
}

.startext{
    text-align: center;
    min-width: 350px;
    max-width: 50%;
    padding: 30px;
}

.startext h2 strong{
    font-weight: 700;
    font-size: 32px;
}

.startext p{
    font-size: 23px;
}

.column-card{
    justify-content: space-between;
}

.column-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
    height: 100%;
}

.columntext{
    height: 12rem;
    text-align: center;
    padding: 0;
}

.columntext p {
    margin-bottom: 20px;
}

.starimage-2 img{
    max-width: 100%;
}


.greenbox{
    background-color: #1E3932;
}

.redbox{
    background-color: #D50032;
}

.bluebox{
    background-color: #0044B4;
}

.pinkcard{
    background-color: #F6BFD9;
    margin-right: 18px;
    color: #d50032;
}

.lightbluecard{
    background-color: #98CDE4;
    margin-left: 18px;
    color: #003b49;
}

.startext button{
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

.pinkcard button{
    color: #D50032;
    border: #D50032 solid 1px;
}

.lightbluecard button{
    color: #003b49;
    border: #003b49 solid 1px;
}

.startext button:hover{
    background-color: rgba(255, 255, 255, 0.153);
}

/*Diseño de footer */

.info-footer {
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
    padding: 0 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item {
    width: 100%;
}

.top-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
}