*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Inter", sans-serif;
}

/*Diseño de Barra de Navegación */

.header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.101);
    padding: 0 30px;
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item a{
    color: black;
    font-weight: 700;
}

.nav ul {
    height: 100%;
}

.nav-item-left {
    padding: 30px 0;
}

.navbar .nav img {
    height: 50px;
    width: 50px;
}

.navbar .nav-item-left a:hover {
    padding-bottom: 25px;
    border-bottom: solid 5px #00754a;
    color: #00754a;
}

.navbar .nav-button {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px;
}

.navbar .black-navitem {
    background-color: black;
}

.navbar .black-navitem a {
    color: white;
}

.navbar .nav-item-right .no-background:hover {
    color: rgba(0, 0, 0, 0.701);
}

.navbar .nav-button .no-background:hover {
    border: rgba(0, 0, 0, 0.701);
}

.navbar .black-navitem:hover{
    background-color: rgba(0, 0, 0, 0.701);
    border: solid 1px rgba(0, 0, 0, 0.701);
}

.narrow-screen {
    display: none;
}


/*Diseño de tarjetas */

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: white;
    max-width: 1400px;
}

main .pair {
    flex-direction: row-reverse;
}

.starimage{
    min-width: 350px;
    max-width: 50%;
}

.starimage img{
    width: 100%;
    height: auto;
}

.startext{
    text-align: center;
    min-width: 350px;
    max-width: 50%;
    padding: 30px;
}

.startext h2 strong{
    font-weight: 700;
    font-size: 32px;
}

.startext p{
    font-size: 23px;
}

.column-card{
    justify-content: space-between;
}

.column-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 49%;
    height: 100%;
}

.columntext{
    height: 12rem;
    text-align: center;
    padding: 0;
}

.columntext p {
    margin-bottom: 20px;
}

.starimage-2 img{
    max-width: 100%;
}


.greenbox{
    background-color: #1E3932;
}

.redbox{
    background-color: #D50032;
}

.bluebox{
    background-color: #0044B4;
}

.pinkcard{
    background-color: #F6BFD9;
    color: #d50032;
}

.lightbluecard{
    background-color: #98CDE4;
    color: #003b49;
}

.startext button{
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

.pinkcard button{
    color: #D50032;
    border: #D50032 solid 1px;
}

.lightbluecard button{
    color: #003b49;
    border: #003b49 solid 1px;
}

.startext button:hover{
    background-color: rgba(255, 255, 255, 0.153);
}

/*Diseño de footer */

.info-footer {
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
    padding: 0 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-item {
    width: 100%;
}

.top-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
    max-width: 1200px;
}

.info-footer .list-title h3{
    font-weight: 500;
}

.info-footer .list-title i{
    display: none;
}

.info-footer .info-list{
    margin-bottom: 25px;
}

.info-footer .info-list a{
    color: rgba(0, 0, 0, 0.701);
}

.info-footer .info-list a:hover{
    color: black;
}

.lower-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 98%;
    border-top: solid 1px #eee;
    margin-bottom: 50px;
}

.lower-footer .lower-footer-item {
    margin: 20px;
}

.lower-footer .lower-footer-item li{
    display: inline-block;
}

.lower-footer .brand-icons a{
    display: block;
    font-size: 23px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    padding: 12.5%;
}

.lower-footer .brand-icons a:hover{
    background-color: rgba(0, 0, 0, 0.701);
    position: relative;
    bottom: 5px;
}

.lower-footer .brand-icons a{
    color: white;
}

.lower-footer .legal{
    text-align: center;
    color: #999;
}

.lower-footer .legal a{
    color: #999;
    margin-right: 15px;
    position: relative;
}

.lower-footer .legal a:hover{
    color: rgba(0, 0, 0, 0.7);
}

.lower-footer .legal a::after{
    content: "|";
    display: block;
    position: absolute;
    top: 0px;
    right: -13px;
}

.lower-footer span{
    color: #999;
}

/*Diseño cookie footer*/
.cookie-footer{
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.cookie-footer .banner-text{
    font-size: 15px;
    font-weight: 400;
    margin: 22px 0 22px 15px;
    color: black;
    flex: 1 0 300px;
}

.cookie-footer .banner-text strong{
    font-weight: 900;
    margin-bottom: 5px;
}

.cookie-footer .banner-text a{
    color: black;
    font-weight: 900;
    text-decoration: underline;
}

.cookie-footer .banner-button{
    max-width: 130px;
}

.cookie-footer .banner-button button{
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    background-color: black;
    font-size: medium;
    border-radius: 15px;
    font-weight: 600;
    width: 80px;
    height: 30px;
}

.cookie-footer .banner-button button a{
    color: white;
}

/*Media Queries*/

@media (max-width: 795px) {
    .navbar {
        width: 100%;
        margin: 0;
    }

    .narrow-screen {
        display: block;
    }

    .nav-item-left {
        display: none;
    }

    .nav-item-right {
        display: none;
    }

    .starcard{
        flex-direction: column;
    }

    .starcard .starimage {
        max-width: 100%;
    }

    .starcard .startext {
        max-width: 100%;
    }

    .starcard .column-item {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .top-footer {
        flex-direction: column;
    }

    .top-footer .info-list a{
        display: none;
    }

    .top-footer .ul {
        width: 100%;
    }

    .info-footer .list-title{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .info-footer .list-title i{
        display: inline-flex;
        cursor: pointer;
    }
}